

.hero {
    text-align: center;
}

.footer {
    padding: 0.25rem;
    
    /* position: fixed; */
}

.cat-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: solid; */
    
    
    /* justify-content: space-evenly; */
    

}


.joke-container{
    border: double; 
    justify-content: space-evenly;
    width: 30%;
    height: 30%;
    padding: 7%;
    
    
   

   
}

