html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(185, 217, 195);
  }

.hero {
    text-align: center;
}

#main-container {
    min-height: 100%;
  }

.footer {
    padding: 0.25rem;
    height: 50px;
  margin-top: -50px;
    /* position: fixed; */
}

.cat-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: solid; */
    
    
    /* justify-content: space-evenly; */
    padding: 20px;
  padding-bottom: 50px;

}

.cat-container img {
    border: solid green 5px;
    width : 35%;
    height: 35%;
}


.joke-container{
    border: double; 
    justify-content: space-evenly;
    width: 30%;
    height: 30%;
    padding: 7%;
    
    
   

   
}

.joke-container p {
  font-size: x-large;
}

.joke-container button {
  background-color:rgb(233, 16, 215);
  cursor: pointer;
}

.joke-container button:hover {
  color: rgb(201, 243, 14);
}

.footer {
  padding: 0.25rem;
  height: 50px;
  margin-top: -50px;
  /* position: fixed; */
}



@media (min-width: 390px) {

}
